/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden { display: none; }

/* Spacing */
h1, h2, h3, h4, h5, h6, p, #post-list li, pre {
  margin-bottom: 20px;
  margin-top: 30px;
}
ul {
  margin-bottom: 20px;
}
li {
  margin-bottom: 7px;
}

/* Before */
h1:before {
  content: "# ";
  font-size: 0.9em;
}
h2:before {
  content: "## ";
  font-size: 0.9em;
}
h3:before {
  content: "### ";
  font-size: 0.9em;
}

em:before, i:before {
  content: "/";
  opacity: 0.5;
}
em:after, i:after {
  content: "/";
  opacity: 0.5;
}

strong:before {
  content: "*";
  opacity: 0.5;
}
strong:after {
  content: "*";
  opacity: 0.5;
}

/* Base */
html, body { height: 100%; }

body {
  font:12px/1 Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
  color: #444;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.2em;
}

h1 {
  font-size: 1.2em;
  color: #222;
  font-weight: bold;
}

h2 {
  font-size: 1.1em;
  color: #222;
  font-weight: bold;
}

h3, h4, h5 {
  color: #444;
  font-weight: bold
}

h6 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px;
}

li {
  list-style-position:outside;
}

em, i {
  color: #777;
  font-style: italic;
}

b, strong {
  font-weight: bold;
  color: #333;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  display: block;
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th,td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr>td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
  background: #fcfcfc;
}

thead th,th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

/* Wrapper */
#wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 40px 100px 40px;
}

/* Highlight */
code.hljs {
  padding-top: 0em;
  padding-bottom: 0em;
}

pre {
  margin-top: 15px;
  margin-bottom: 15px;
}
